/* NAVIGATION */
body {
  background: #0f0c0a;
  scroll-behavior: smooth;
}

/* NAVIGATION */
.navbar {
  background-color: #0f0c0a;
  opacity: 95%;
}
.nav-link {
  font-family: 'montserrat', serif;
  font-weight: 200;
  color: #FFFEFD;
}
.name:hover {
  color: #49A0B5;
}
.nav-link:hover {
  color: #49A0B5;
}
.navbar-brand {
  font-family: 'Playfair display';
  color: #FFFEFD;
}
.dropdown-menu a {
    background-color: #0f0c0a;
    color: #FFFEFD;
    font-family: 'montserrat', serif;
    font-weight: 200;
}
.dropdown-menu a:hover {
  color: #49A0B5;
  background-color: #0f0c0a;
}

.linkedIn:hover {
  background-color: #49A0B5;
  border-radius: 5px;
}

.instagram:hover {
  background-color: #49A0B5;
  border-radius: 10px;
}

/* ELSE:: */
.header {
  margin-top: 5em;
}
h1 {
  text-align: center;
  margin-top: 5em;
  font-family: "Playfair Display", serif;
  color: #0f0c0a;
}

p {
  text-align: center;
  font-family: 'montserrat', serif;
  font-size: 1.3rem;
  color: #696969;
}
.card {
  display: block;
  color: #0f0c0a;
  text-align: center;
  padding: 3%;
  margin: 5% auto;
  width: 70%;
}

/* FOOTER */
.contact {
  color: #FFFEFD;
}
.contact:hover {
  text-decoration: none;
  color: #FFFEFD;
  cursor: none;
}
/* FOOTER_CTA */
.CTA {
  color: #FFFEFD;
  font-style: regular;
  font-weight: 100;
  font-family: "montserrat", sans-serif;
  -webkit-animation:colorchange 10s infinite alternate;
}
.CTA:hover {
  color: #49A0B5;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: none;
}
