body {
  background: #0f0c0a;
  scroll-behavior: smooth;
}

/* NAVIGATION */
.navbar {
  background-color: #0f0c0a;
  opacity: 95%;
}
.nav-link {
  font-family: 'montserrat', serif;
  font-weight: 200;
  color: #FFFEFD;
}
.name:hover {
  color: #49A0B5;
}
.nav-link:hover {
  color: #49A0B5;
}
.navbar-brand {
  font-family: 'Playfair display';
  color: #FFFEFD;
}
.dropdown-menu a {
    background-color: #0f0c0a;
    color: #FFFEFD;
    font-family: 'montserrat', serif;
    font-weight: 200;
}
.dropdown-menu a:hover {
  color: #49A0B5;
  background-color: #0f0c0a;
}

.linkedIn:hover {
  background-color: #49A0B5;
  border-radius: 5px;
}

.instagram:hover {
  background-color: #49A0B5;
  border-radius: 10px;
}

/* HEADER */
.jumbotron {
  background: url("../images/cayetano-gil-rguHxZmOF5U-unsplash.jpg");
  background-position: center;
  height: 99vh;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 4em;
  background-size: cover;
  border-radius: 0;
  overflow: hidden;
}

.jumbotron h1 {
  text-align: center;
  margin-top: 3.5em;
  font-family: "Playfair Display", serif;
  cursor: none;
  color: #tan;
  -webkit-animation:colorchange 20s infinite alternate;
}

.jumbotron p {
  text-align: center;
  font-family: 'montserrat', serif;
  color: #0f0c0a;
  cursor: arrow;
}
.jumbotron span {
    -webkit-animation:colorchange 30s infinite alternate;
}

/* BOUNCING ARROW -idk how this works but it just does... */
.arrow a {
  color: #FFFEFD;
  -webkit-animation:colorchange 3s infinite alternate;
}

.arrow a:hover {
  color: #ffaef0;
}

.active {
  display: none;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(-50%);
  }
}


/*PAGE ANIMATIONS*/
#projectCards {
  text-align: center;
  font-family: "Playfair display", sans-serif;
  font-weight: 200;
  color: #FFFEFD;
  cursor: arrow;
}

#projectCards:hover {
  -webkit-animation:colorchange 10s infinite alternate;
  cursor: none;
}

.container-fluid {
  display: flex;
  width: 100vw;
}
.row {
  margin: 5.5vh auto;
}

.cardContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
.cardContainer:hover {
  border: .1px dotted #0f0c0a;
}
.cardContainer a {
  text-decoration: none;
}
.cardContainer .HP:hover {
  color: green;
}
.cardContainer .OA:hover {
  color: orange;
}
.cardContainer .RFS:hover {
  color: lightblue;
}
.cardContainer img {
  height: 50%;
}
.card-body {
  color: #0f0c0a;
  background-color: #FFFEFD;
  align-content: space-between;
}
.card-title {
  color: #0f0c0a;
  font-family: "Playfair Display", serif;
  margin-bottom: 2em;
}

.card-subtitle {
  font-family: 'montserrat', serif;
  font-weight: 400;
}

.card-text {
  font-family: 'montserrat', serif;
  font-weight: 200;
}

/* FOOTER */
.contact {
  color: #0f0c0a;
}
.contact:hover {
  text-decoration: none;
  color: #0f0c0a;
  cursor: none;
}
/* FOOTER_CTA */
.CTA {
  color: #0f0c0a;
  font-style: regular;
  font-weight: 100;
  font-family: "montserrat", sans-serif;
  -webkit-animation:colorchange 10s infinite alternate;
}
.CTA:hover {
  color: #49A0B5;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: none;
}

/* MEDIA QUERIES */
@media (min-width: 540px max-width: 992px) {
.navbar {

}
  .cardContainer {
    margin: 2em auto;
  }

}

@media (max-width: 768px) {
  .jumbotron {
    height: 95vh;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

/* COLORCHANGE WEBKIT */
@-webkit-keyframes colorchange {
      0% {
        color: #1C1F1B;
      }
      10% {
        color: #F48725;
      }
      20% {
        color: #6088B2;
      }
      30% {
        color: #C15955;
      }
      40% {
        color: #EBD6C9;
      }
      50% {
        color: #793884;
      }
      60% {
        color: #173B00;
      }
      70% {
        color: #48BCC9;
      }
      80% {
        color: #C15955;
      }
      90% {
        color: #696969;
      }
      100% {
        color: #FDDEC3;
      }
    }
