body {
  background: #FDFAEE;
  scroll-behavior: smooth;
}

.text-descrip {
  color: #FDFAEE;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
.text-descrip-d {
  color: #0f0c0a;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
.text-caption {
  color: #F8CE46;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 150;
}
.text-title-l{
  color: #0A5E88;
  font-family: "Playfair Display", serif;
}

.text-para-l {
  color: #0f0c0a;
  font-family: "Montserrat", sans-serif;
}
.text-quote {
  color: #FDFAEE;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.6em;
}
.text-title-d {
  color: #F8CE46;
  font-family: "Playfair Display", serif;
}
.text-para-d {
  color: #FDFAEE;
  font-family: "Montserrat", sans-serif;
}


/* NAVIGATION */
.navbar {
  background-color: #0f0c0a;
  opacity: 95%;

}
.nav-link {
  font-family: 'montserrat', serif;
  font-weight: 200;
  color: #FFFEFD;
}

.name:hover {
  color: #49A0B5;
}
.nav-link:hover {
  color: #49A0B5;
}
.navbar-brand {
  font-family: 'Playfair display';
  color: #FFFEFD;
}
.dropdown-menu a {
    background-color: #0f0c0a;
    color: #FFFEFD;
    font-family: 'montserrat', serif;
    font-weight: 200;
}
.dropdown-menu a:hover {
  color: #49A0B5;
  background-color: #0f0c0a;
}

.linkedIn:hover {
  background-color: #49A0B5;
  border-radius: 5px;
}

.instagram:hover {
  background-color: #49A0B5;
  border-radius: 10px;
}
/* Navbar dissapear */
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}





/* FOOTER */
#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

/* FOOTER */
.contact {
  color: #0f0c0a;
}
.contact:hover {
  text-decoration: none;
  color: #0f0c0a;
  cursor: none;
}
/* FOOTER_CTA */
.CTA {
  color: #0f0c0a;
  font-style: regular;
  font-weight: 100;
  font-family: "montserrat", sans-serif;
  -webkit-animation:colorchange 10s infinite alternate;
}
.CTA:hover {
  color: #49A0B5;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: none;
}
